body {
	background-color: #f0f0f8;
  	margin: auto;
	text-align: center;
}

#leave {
	font-family: Baskerville, "Book Antiqua", serif;
	font-size: 14px;
}

#load-stories {
	font-family: Baskerville, "Book Antiqua", serif;
	font-size: 18px;
	float: right;
}

#div-load {
	padding: 30px;
	width: 80%;
	margin: auto;
}

#turn {
	font-family: Baskerville, "Book Antiqua", serif;
	font-size: 16px;
	width: 80%;
}

textarea {
	font-family: Baskerville, "Book Antiqua", serif;
	font-size: 16px;
	width: 90%;
}

p {
	font-family: Baskerville, "Book Antiqua", serif;
	font-size: 18px;

}

h1 {
	font-family: Impact, Charcoal, sans-serif
}

.links {
	padding: 10px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 28px;
}

table {
	width: 80%;
	border-collapse: collapse;
	margin: auto;
}

table, td, th {
	border: 1px solid black;
	text-align: left;
}

td {
	padding: 10px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 18px;
}

th {
	padding: 10px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 22px;
}

#story-info {
	margin: auto;
	width: 30%;
	padding: 10px;
}

#story-info > p {
	text-align: left;
}