body {
  background-color: #f0f0f8;
  	margin: auto;
	text-align: center;
}

#leave {
	font-family: Baskerville;
	font-size: 14px;
}

#turn {
	font-family: Baskerville;
	font-size: 16px;
}

textarea {
	font-family: Baskerville;
	font-size: 16px;
	width: 90%;
}

p {
	font-family: Baskerville;
	font-size: 18px;

}

h1 {
	font-family: Impact;
}

.links {
	padding: 10px;
	font-family: Verdana;
	font-size: 28px;
}
